.image-page-body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  animation: animate .2s;
}

@keyframes animate {
  from {
    transform: scale(1.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 100%;
  }
}

.image-page-con {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 80%;
  /* height: 550px; */
  height: 80%;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
}
@media screen and (max-width: 850px) {
  .image-page-con {
    max-width: 90%;
    height: 450px;
  }
  .image-page-comment-container {
    height: 243px;
    overflow-y: scroll;
  }
  .image-page-left {
    width: 100%;
    height: 100%;
  }
  .image-page-right {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 555px) {
  .image-page-con {
    max-width: 100%;
    height: 450px;
  }
}
.image-page-left {
  background-color: black;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-page-image {
  width: 100%;
  max-height: 100%;
}
.image-page-close {
  width: 40px;
  color: white;
  cursor: pointer;
}
.x-button-wrap {
  background-color: transparent;
  border: none;
  position: absolute;
  right: -5rem;
  top: -2rem;
}
.image-page-right {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.image-page-header {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(117, 117, 117, 0.219);
  padding: 0.7rem;
  position: relative;
}
.image-page-header > p {
  font-size: 0.9rem;
  font-weight: bold;
}
.image-options-icon {
  width: 28px;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.image-page-avatar {
  width: 40px;
  margin-right: 0.5rem;
}
.image-page-comment-container {
  overflow-y: scroll;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    height: 100px;
    margin-bottom: 130px;
}
#ind-comment {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.image-page-comment-header {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0rem;
}
.image-page-comment-username {
  font-size: .9rem;
  font-weight: bold;
  padding-left: 0.5rem;
}
.image-page-comment-avatar {
  width: 35px;
}
.image-page-comment-header > p {
  font-size: 0.925rem;
  padding-left: 0.35rem;
  margin-top: 3px;
}
.image-page-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(117, 117, 117, 0.219);
  width: 100%;
}
.image-page-options-container {
  display: flex;
  padding: 1rem;
}
.image-page-options-icon {
  width: 32px;
  margin: 0rem 0.5rem;
}
.image-page-options-icon:hover {
  cursor: pointer;
}
#form-comment-con {
  border-top: 1px solid rgba(117, 117, 117, 0.219);
  position: relative;
  display: flex;
  align-items: center;
}
.image-page-comment-input {
  border: none;
  font-size: 0.95rem;
  padding: 1rem;
  outline: none;
}
.image-page-comment-submit {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  padding-right: 1rem;
  color: #3670eed2;
}

.image-page-username {
    font-weight: bold;
    margin-left: .5rem;
}
.image-page-caption-avatar {
  width: 40px;
}
.image-page-user-caption-con {
  display: flex;
  align-items: flex-start;
}
.image-page-caption {
    margin-left: .5rem;
    cursor: default;
}

.image-page-ava-un {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: .5rem;
}

.image-post-options {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background-color: white;
  height: fit-content;
  z-index: 10000;
}
.image-post-options > button {
  border: none;
  height: 4rem;
  width: 400px;
  background-color: transparent;
  border-bottom: 1px solid rgba(109, 109, 109, 0.363);
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
}
.image-post-options > button:first-of-type {
  border-radius: 1rem 1rem 0rem 0rem;

  color: rgb(255, 71, 71);
}
.image-post-options > button:last-of-type {
  border-radius: 0rem 0rem 1rem 1rem;
}
.image-post-options > button:hover {
  background-color: rgba(156, 156, 156, 0.144);
}
.image-post-option-delete {
  color: rgb(255, 71, 71);
}
.ind-comment-option-toggle {
  width: 24px;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
