.select-image-page-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);

    animation: animate .2s;
    z-index: 1001;
}

@keyframes animate {
    from {
        transform: scale(1.1);
        opacity: 0;
    }

    to {
        transform: scale(1);    
        opacity: 100%;
    }
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 75%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);

    z-index: 1002;
}

.new-post-text {
    display: flex;
    justify-content: center;
    padding-top: .75rem;
    font-size: 1.75rem;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

ul {
    list-style-type: none;
}

.display-errors {
    color: rgb(255, 0, 179);
    font-size: 1.5rem;
}

.file-thing {
    color: white;
}

.caption-input {
    margin-top:10px;
}

.submit-button {
    margin-top: 100px;
    background-color: rgb(0, 150, 200);
    color: white;
    border-radius: .4rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.15rem;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
}

.X {
    position: fixed;
    top: 7.5%;
    right: 32%;
    width:2rem;
    height:2rem;
    color: white;
    z-index: 1003;
}

.X:hover {
    cursor: pointer;
}