.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-title {
  font-weight: 300;
  font-size: 2.5rem;
}
.login-image {
  margin: 1rem;
  width: 100px;
  height: 100px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form > input {
  margin: .5rem;
  height: 2.25rem;
  width: 295px;
  padding-left: .5rem;
  border: 1px solid rgba(105, 105, 105, 0.404);
  border-radius: 3px;
}
.login-form > button {
  margin: 1rem;
  border: none;
  padding: .6rem;
  border-radius: 3px;
  background-color: #2563eb;
  color: rgba(255, 255, 255, 0.904);
  width: 250px;
}
.login-signup-con {
  margin: 1rem;
  background-color: rgba(211, 211, 211, 0.171);
  padding: 1.25rem .5rem;
  font-weight: 200;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.644);
  width: 295px;
  display: flex;
  justify-content: center;
}
.login-signup-con > a {
  font-weight: 200;
  color: #396ddd;
  padding-left: .25rem;
}
